@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

.prose code::before,
.prose code::after {
  content: none;
}

.prose-white :where(code):not(:where(pre *)) {
  background-color: #2a1f2e;
  padding: 0.2em 0.4em;
  border-radius: 0.5rem;
}

:root {
  --background: #120018;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@utility animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

@utility prose-white {
  --tw-prose-body: rgb(255 255 255 / 90%);
  --tw-prose-headings: var(--color-white);
  --tw-prose-lead: rgb(255 255 255 / 80%);
  --tw-prose-links: var(--color-white);
  --tw-prose-bold: var(--color-white);
  --tw-prose-counters: rgb(255 255 255 / 70%);
  --tw-prose-bullets: rgb(255 255 255 / 50%);
  --tw-prose-hr: rgb(255 255 255 / 20%);
  --tw-prose-quotes: var(--color-white);
  --tw-prose-quote-borders: rgb(255 255 255 / 30%);
  --tw-prose-captions: rgb(255 255 255 / 60%);
  --tw-prose-code: var(--color-white);
  --tw-prose-pre-code: rgb(255 255 255 / 90%);
  --tw-prose-pre-bg: rgb(255 255 255 / 8%);
  --tw-prose-th-borders: rgb(255 255 255 / 25%);
  --tw-prose-td-borders: rgb(255 255 255 / 15%);
  --tw-prose-invert-body: var(--color-gray-800);
  --tw-prose-invert-headings: var(--color-gray-900);
  --tw-prose-invert-lead: var(--color-gray-700);
  --tw-prose-invert-links: var(--color-gray-900);
  --tw-prose-invert-bold: var(--color-gray-900);
  --tw-prose-invert-counters: var(--color-gray-600);
  --tw-prose-invert-bullets: var(--color-gray-400);
  --tw-prose-invert-hr: var(--color-gray-300);
  --tw-prose-invert-quotes: var(--color-gray-900);
  --tw-prose-invert-quote-borders: var(--color-gray-300);
  --tw-prose-invert-captions: var(--color-gray-500);
  --tw-prose-invert-code: var(--color-gray-900);
  --tw-prose-invert-pre-code: var(--color-gray-200);
  --tw-prose-invert-pre-bg: var(--color-gray-800);
  --tw-prose-invert-th-borders: var(--color-gray-300);
  --tw-prose-invert-td-borders: var(--color-gray-200);
}

@theme {
  --color-mint: #adebb3;
}
